.about-background {
  background: radial-gradient(
    ellipse 700px 400px at center,
    rgb(76, 0, 112) 40%,
    rgb(27, 0, 39) 100%
  );
  width: 1000px;
  height: 350px;
  align-content: center;
}

.about-icons-text-containter {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 15px;
  font-family: var(--main-font);
  color: #ffffff;
  position: absolute;
}

.about-icons-text-containter h2 {
  font-size: 20px;
}

.about-icons-text-containter img {
  font-size: 20px;
  width: 55px;
}

.about-text-description {
  pointer-events: none;
  font-family: var(--main-font);
  position: absolute;
  top: 60px;
  left: 55px;
  font-size: 20px;
  color: #ffffff;
  width: 335px;
  line-height: 30px;
}
.about-centralImage-container {
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 150px;
  height: 200px;
}

.about-centralImage-container div {
  flex: 0 0 80%; /* Ocupa el 80% de la altura */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-centralImage-container img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.about-centralImage-container h2 {
  flex: 0 0 20%; /* Ocupa el 80% de la altura */
  font-size: 20px;
  font-family: var(--main-font);
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  position: absolute;
  top: 40px;
  left: 500px;
}
