.about-background {
  background: radial-gradient(
    ellipse 700px 400px at center,
    rgb(76, 0, 112) 40%,
    rgb(27, 0, 39) 100%
  );
  width: 1000px;
  height: 350px;
  align-content: center;
}
