

:root {
  --start_button-border-color: rgb(255, 255, 255);
  --start_button-hover-color: rgb(0, 159, 203);
  --start_button-bg-color: rgb(71, 71, 71);
  --start_button-animation: 0.3s;
}

.containerStartButton {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.containerStartButton button {
  padding: 10px 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Electrolize-Regular";
  font-weight: 400;
  width: 150px;
  background-color: var(--start_button-bg-color);
  color: var(--start_button-border-color);
  border: none;
}

.containerStartButton button:hover {
  background-color: var(--start_button-hover-color);
  transition: var(--start_button-animation);
}
