.background-skills {
  /* background: linear-gradient(rgb(0, 22, 54), rgb(0, 52, 112)); */
  background: radial-gradient(
    ellipse 700px 400px at center,
    rgb(0, 52, 112) 40%,
    rgb(0, 16, 39) 100%
  );
  width: 980px;
  height: 480px;
  align-content: center;
}
.skills-no-pointer {
  pointer-events: none;
}
.general-container-skills {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: center;
  align-items: center;
  gap: 20px;
}
.container-1-skills {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}
.container-2-skills {
  position: relative;
  /* width: 250px;
  height: 10px; */

  align-items: center;
}
.title-container {
  flex: 1;
  margin: auto;
  color: white;
  font-size: 30px;
}
.slider-container-skills {
  margin: auto;
  margin-top: 40px;
  width: 90%;
  flex: 5;
  align-items: end;
  align-content: center;
  cursor: grab;
}
.slider-item-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.canvas-container-skills {
  position: fixed;
  top: 20px;
  left: 696px;
  width: 320px;
  height: 500px;
  clip-path: polygon(
    1.9% 9.1%,
    12.5% 0.5%,
    73% 0.5%,
    82% 6%,
    82% 74%,
    73% 80%,
    3.8% 80%,
    11.15% 75%,
    11.15% 15%
  );
}
.canvas-container-skills img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
