.general-container {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: center;
  align-items: center;
  gap: 20px;
}

.skills-container {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
