@font-face {
  font-family: "Suse";
  src: url("/Fonts/Suse/SUSE-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
:root {
  /* TEXTO */
  --text-light-color: #fdfdfd;
  --text-dark-color: #0d0d0d;

  --main-font: "Suse", sans-serif;
  --heading-font-size: 2.5rem;
  --subheading-font-size: 1.5rem;
  --heading-font-weight: 900;
  --subheading-font-weight: 600;
  --body-font-size: 1rem;

  --load-screen-bg-color: #48d0e4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: var(--load-screen-bg-color);
}
.preload-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--load-screen-bg-color);
  z-index: 1;
  opacity: 1;
}

text {
  font-family: var(--main-font);
}

h1 {
  font-family: var(--main-font);
  font-size: var(--heading-font-size);
  color: var(--text-light-color);
  font-weight: var(--heading-font-weight);
}

h2 {
  font-family: var(--main-font);
  font-size: var(--subheading-font-size);
  color: var(--text-light-color);
  font-weight: var(--heading-font-weight);
}
