@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Play:wght@400;700&display=swap");

@font-face {
  font-family: "Electrolize-Regular";
  src: url("/Fonts/Electrolize-Regular.ttf") format("truetype");
}

/* General Border lines */
@keyframes drawLine {
  to {
    stroke-dasharray: 5000 0;
  }
}

.about-border-thin {
  stroke: #a700c4;
  stroke-width: 1;
}

.about-border-thick {
  stroke: #a700c4;
  stroke-width: 8;
}
.about-border-background {
  stroke: #3f004a;
  stroke-width: 7;
}
.about-border-thick-anim {
  stroke-dasharray: 0 5000;
  animation: drawLine 3s ease forwards;
}

.about-border-thick-no-anim {
  animation-play-state: paused;
}

.about-fill-green-1 {
  fill: #0098476d;
}

.about-fill-green-2 {
  fill: #3f004a;
}

.about-no-fill {
  fill: none;
}

.about-text-title {
  font-size: 80px;
  font-family: "Electrolize-Regular";
  font-weight: 600;
  fill: #ffffff;
  letter-spacing: 5px;
}
.about-text-description {
  font-size: 50px;
  font-family: "Electrolize-Regular";
  color: #ffffff;
  fill: #ffffff;
}

.about-text-title-2 {
  font-size: 47px;
  font-family: "Electrolize-Regular";
  font-weight: 600;
}

.about-text-icon {
  font-size: 40px;
  font-family: "Electrolize-Regular";
  fill: #ffffff;
  letter-spacing: 5px;
}
.about-text-icon-title {
  font-size: 40px;
  font-family: "Electrolize-Regular";
  font-weight: 600;
  fill: #ffffff;
  letter-spacing: 5px;
}
