@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Play:wght@400;700&display=swap");
@font-face {
  font-family: "Electrolize-Regular";
  src: url("/Fonts/Electrolize-Regular.ttf") format("truetype");
}

.border-line {
  fill: none;
  stroke: #1e6794;
  stroke-width: 3;
  stroke-dasharray: 0 1000;
  animation: drawLine 5s ease forwards;
}

@keyframes drawLine {
  to {
    stroke-dasharray: 1000 0;
  }
}

@keyframes drawLine {
  to {
    stroke-dasharray: 2000 0;
  }
}

.skillPoints {
  fill: none;
  stroke: #08bee1;
  stroke-width: 1;
}

.skillPoints.filled {
  fill: #08bee1;
}

.skillPoints-mask-show {
  height: 0px;
  animation: skillPointsMask 2.5s ease forwards;
}
@keyframes skillPointsMask {
  to {
    height: 55px;
  }
}

.text-skills {
  font-size: 1.5rem;
  font-weight: 500;
  fill: #08bee1;
  font-family: "Electrolize-Regular";
}

.text-title {
  font-size: 2rem;
  font-weight: 650;
  fill: #08bee1;
  font-family: "Electrolize-Regular";
}

.text-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  fill: #08bee1;
  font-family: "Electrolize-Regular";
}
