@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Play:wght@400;700&display=swap");

@font-face {
  font-family: "Electrolize-Regular";
  src: url("/Fonts/Electrolize-Regular.ttf") format("truetype");
}

/* General Border lines */
@keyframes skillsDrawLine {
  to {
    stroke-dasharray: 2000 0;
  }
}

.border-line {
  fill: none;
  stroke: #399ab5;
  stroke-width: 2;
}
.animation-border-line {
  stroke-dasharray: 0 1000;
  animation: skillsDrawLine 8s ease forwards;
}
.animation-border-line-2 {
  stroke-dasharray: 0 1000;
  animation: skillsDrawLine 5s ease forwards;
}
/* General Border lines */
@keyframes skillsDrawLine2 {
  0% {
    stroke-dasharray: 0 1000;
  }
  17% {
    stroke-dasharray: 0 1000;
  }
  100% {
    stroke-dasharray: 2000 0;
  }
}
.animation-border-line-3 {
  stroke-dasharray: 0 1000;
  animation: skillsDrawLine2 5s ease forwards;
}

.border-line-2 {
  fill: none;
  stroke: #08bee1;
  stroke-width: 5;
}

/* Skill points */
.skillPoints {
  fill: none;
  stroke: #08bee1;
  stroke-width: 1;
}

.skillPoints.filled {
  fill: #08bee1;
}

.skillPoints-mask-show {
  height: 0px;
  animation: skillPointsMask 2.5s ease forwards;
}

@keyframes skillPointsMask {
  to {
    height: 55px;
  }
}

/* Skills text */
.text-skills {
  font-size: 1.5rem;
  font-weight: 500;
  fill: #08bee1;
  font-family: "Electrolize-Regular";
}

/* Title text */
.text-title {
  font-size: 2rem;
  /* font-weight: 850; */
  fill: #002f67;
  font-family: "Electrolize-Regular";
}

/* Subtitle container */
.subtitle-content {
  fill: url(#content-gradient-subtitle);
}

.title-content {
  fill: #08bee1;
} 

/* Div skill container */
.skill-container {
  position: relative;
}

/* Image skill container */

.img-container {
  position: absolute;
  /* border: 2px solid #08bee1; */
  width: 90px;
  height: 77px;
  top: 36px;
  left: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 41% 100%, 41% 46%, 0 46%);
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
