.about-box-line {
  fill: none;
  stroke: #1e6794;
  stroke-width: 3;
  stroke-dasharray: 0 1000;
  animation: drawLine 5s ease forwards;
}

@keyframes drawLine {
  to {
    stroke-dasharray: 1000 0;
  }
}

.skillPoints {
  fill: none;
  stroke: #08bee1;
  stroke-width: 1;
}

.skillPoints.filled {
  fill: #08bee1;
}
