:root {
  --skills-background-color: radial-gradient(
    ellipse 700px 400px at center,
    rgb(0, 52, 112) 40%,
    rgb(0, 16, 39) 100%
  );

  --skills-border-color-primary: #08bee1;
  --skills-border-stroke-primary: #08bee1;
  --skills-border-fill-primary: #08bee1;

  --skills-border-color-primary: #08bee1;
  --skills-border-stroke-primary: #08bee1;
  --skills-border-fill-primary: #08bee1;
}



