.container {
  position: fixed;
  top: 1rem;
  right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}

.container ul {
  list-style: none; /* Eliminar los puntos de la lista */
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.container li {
  margin: 0;
}

.container button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #48d0e4;
  border-radius: 37%;
  cursor: pointer;
  border: none; /* Remove default button border */
}

.container button:hover {
  transition: transform 0.3s;
  transform: scale(1.07);
}
