@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Play:wght@400;700&display=swap");

@font-face {
  font-family: "Electrolize-Regular";
  src: url("/Fonts/Electrolize-Regular.ttf") format("truetype");
}
/* BACKGROUND */
.menu-border-line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
}

.menu-border-line-2 {
  fill: rgb(255, 255, 255);
  stroke: #ffffff;
  stroke-width: 2;
}

.menu-button,
.menu-decoration-button,
.menu-text-button {
  transition: all 0.3s ease; /* Aplica transición a todas las propiedades */
}

.menu-button-container {
  cursor: pointer;
}
.menu-button {
  fill: rgb(255, 255, 255);
  stroke: #ffffff;
  stroke-width: 2;
}

.menu-decoration-button {
  fill: rgb(255, 255, 255);
  stroke: #000000;
  stroke-width: 1.5;
}

.menu-text-button {
  font-size: 30px;
  font-family: "Electrolize-Regular";
  color: #000000;
  text-justify: center;
  font-weight: 700;
}

.menu-foreignObject {
  height: 30px;
  width: 150px;
}

.menu-button-container:hover .menu-decoration-button {
  fill: #000000;
  stroke: #ffffff;
}

.menu-button-container:hover .menu-button {
  fill: #000000;
}

.menu-button-container:hover .menu-text-button {
  color: #ffffff;
}

.menu-title {
  font-family: "Electrolize-Regular";
  fill: #000000;
  font-size: 30px;
  font-weight: 700;
}

/* Animation */

@keyframes increaseHeight {
  20% {
    height: 0px;
  }
  30% {
    height: 80px;
  }
  35% {
    height: 80px;
  }
  45% {
    height: 160px;
  }
  50% {
    height: 160px;
  }
  60% {
    height: 240px;
  }
  65% {
    height: 240px;
  }
  75% {
    height: 320px;
  }
  80% {
    height: 320px;
  }
  100% {
    height: 400px;
  }
}

.mask-button-animation {
  height: 0px;
  animation: increaseHeight 1.5s forwards;
}

.menu-hand {
  /* transform: scale(13); */
  transform: scale(13) translate(2px, 5px);
  fill: #000000;
}
.menu-hand:hover {
  /* transform: scale(13); */
  transform: scale(15.5) translate(2px, 5px);
}

.menu-hand-container {
  cursor: pointer;
  width: 300px;
  height: 300px;
  /* background-color: red; */
  position: relative;
}

.menu-hand-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  pointer-events: none;
}
.menu-hand-container img {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.menu-hand-container:hover img {
  transform: translate(-50%, -50%) scale(1.1); /* Mantener centrado y escalar */
}
