@font-face {
  font-family: "Electrolize-Regular";
  src: url("/Fonts/Electrolize-Regular.ttf") format("truetype");
}

.background-projects {
  background: radial-gradient(
    ellipse 1400px 1000px at center,
    rgb(0, 86, 50) 10%,
    rgb(0, 39, 5) 100%
  );
  /* background: rgb(0, 66, 39) 100%; */
  border: 10px solid black;
  width: 1325px;
  height: 775px;
  align-content: center;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}

.slider-container-projects {
  width: 95%;
  margin: 0 auto;
  z-index: 1;
}

.projects-no-interaction {
  pointer-events: none;
}
.projects-interaction {
  pointer-events: all;
}

.text {
  font-family: "Electrolize-Regular";
  font-size: 50px;
  font-weight: 1000;
}

.slider-item-container-project {
  height: 600px;
  margin: 0 20px;
  padding: 180px 60px 150px 60px;
  border-radius: 20px;
  cursor: pointer;
  /* gap: 10px; */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.slider-item-container-project-img {
  flex: 1;
  /* text-align: left;
  background-color: aquamarine;
  font-family: "Electrolize-Regular"; */
}
.slider-item-container-project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-item-container-project-info {
  flex: 1;
  text-align: left;
  background-color: aquamarine;
  font-family: "Electrolize-Regular";
}
.slider-item-container-project div h1 {
  font-size: 50px;
  font-weight: 1000;
}
.slider-item-container-project div p {
  width: 90%;
  font-size: 30px;
  font-weight: 400;
}
/* .slider-item-container-project:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
} */

/* .center .slick-center .slider-container-projects {
  transform: scale(2);
  
} */

.center .slick-center .slider-item-container-project {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.center .slick-center .slider-item-container-project:hover {
  opacity: 1;
}
.center .slider-item-container-project {
  opacity: 0.5;
  /* pointer-events: none; */
}
.center .slider-item-container-project:hover {
  opacity: 0.8;
  /* pointer-events: none; */
}
