html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: transparent;

}

h1 {
  font-size: 0.5rem;
  color: rgb(0, 0, 0);
}

.app .hero {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 1;
}

.canvas {
  position: fixed !important;
  inset: 0 !important;
}


.cancelButtons {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  /* transform: translateX(-50%); */
  z-index: 1;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.cancelButtons:hover {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  /* transform: translateX(-50%); */
  z-index: 1;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
